
<div class="jumbotron1">
        
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Travel</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5"></h2>
            <a class="btn btn-primary js-scroll-trigger" routerLink="travels">Get Started</a>
        </div>
    </div> 

</div>
       
<section class="projects-section bg-light" id="projects">
    <div class="home-con">
               
        <div class="row justify-content-center no-gutters">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="assets/imgCR7/tropical-beach.jpg">
            </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="project-text w-100 my-auto text-left text-lg-center">
                        <h4>{{homeTitle}}</h4>
                            <p class="text-black-50 mb-0">{{homeSubT}}</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                    </div>
                </div>
            </div>

        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="assets/imgCR7/sunset-island.jpg">
            </div>

                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-center">
                                    <h4 class="text-black">{{homeT}}</h4>
                                    <p class="mb-0 textblack-50">{{homeST}}</p>
                                    <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>



